body {
  height: 100vh;
  margin: 0;
  background-image: url('img/photo.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow:
   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
  font-size: 3em;
}